.form_block {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container {
    position: relative;
    width: 25rem;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.form_title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.field_label {
    font-size: 1rem;
}

.field_input {
    height: 2rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form_error {
    position: absolute;
    right: 0;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    color: darkred;
    background-color: lightcoral;
}

.form_container > .form_error {
    top: -2rem;
}

.form_field > .form_error {
    top: 0;
}

.submit_button {
    font-size: 1rem;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: black;
    color: white;
    transition: background-color 0.2s;

    &:hover {
        background-color: grey;
        transition: background-color 0.2s;
    }
}
