<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Learning Django building this app{% endblock %}">

        {% load static %}
        <link rel="stylesheet" href="{% static 'global.css' %}">
        
        {% block css %}{% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <title>{% block title %}Django Learning{% endblock %} | django-learning.com</title>
    </head>
    
    <body>
        {% block content %}<span>Hey developer! You forget to add the content of this page 🫣</span>{% endblock %}
    </body>
</html>
