<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Learning Django building this app{% endblock %}">
        
        {% block css %}{% endblock %}

        <title>{% block title %}Django Learning{% endblock %} | django-learning.com</title>
    </head>
    
    <body>
        {% block content %}<span>Hey developer! You forget to add the content of this page 🫣</span>{% endblock %}
    </body>
</html>
